<div id="app">
  <form id="book-search" @submit.prevent="search">
    <label>
      <span>Search for a book</span>
      
      <input type="text" v-model:trim="searchTerm" placeholder="⌕">
    </label>
    
    <button type="submit">Search</button>
  </form>
  
  <ol class="search-results">
    <li class="search-result" v-for="book in searchResults.items">
      <img :src="'http://books.google.com/books/content?id=' + book.id + '&printsec=frontcover&img=1&zoom=1&source=gbs_api'" class="search-result--thumbnail">
      
      <ul class="search-result--info">
        <li class="search-result--title">{{ book.volumeInfo.title }}</li>
        
        <li v-if="book.volumeInfo.authors" class="search-result--authors">
          by {{ bookAuthors(book) }}
        </li>
        
        <li v-if="book.volumeInfo.publishedDate" class="search-result--published">
          <span>Published </span> {{ book.volumeInfo.publishedDate }}
        </li>
      </ul>
    </li>
  </ol>
  
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/106403/allthebooks%5B1%5D.jpg" id="all-the-books" v-if="searchResults.items">
</div>
